<article itemscope itemprop="blogPost">
  <div>
    <% if (post.link || post.title){ %>
    <header>
      <%- partial('article-title') %>
    </header>
    <% } %>
    <div itemprop="articleBody">
      <% if (post.excerpt && preview){ %>
      <%- post.excerpt %>
      <% if (theme.excerpt_link){ %>
      <p>
        <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
      </p>
      <% } %>
      <% } else { %>
      <%- post.content %>
      <% } %>

    </div>

    <footer class="text-right">
      <% if (!preview){ %>
      <div class="btn-group share-buttons" role="group" aria-label="share">
        <button type="button" class="btn btn-default">
          <a href="https://twitter.com/intent/tweet?url=<%- encodeURIComponent(post.permalink) %>" target="_blank" title="Twitter">
            <i class="fa fa-twitter"></i>
          </a>
        </button>
        <button type="button" class="btn btn-default">
          <a href="https://www.facebook.com/sharer.php?u=<%- encodeURIComponent(post.permalink) %>" target="_blank" title="Facebook">
            <i class="fa fa-facebook"></i>
          </a>
        </button>
        <button type="button" class="btn btn-default">
          <a href="https://plus.google.com/share?url=<%- encodeURIComponent(post.permalink) %>" target="_blank" title="Google+">
            <i class="fa fa-google-plus"></i>
          </a>
        </button>
        <button type="button" class="btn btn-default">
          <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%- encodeURIComponent(post.permalink) %>" target="_blank" title="LinkedIn">
            <i class="fa fa-linkedin"></i>
          </a>
        </button>
      </div>
      <% } %>
    </footer>
  </div>
</article>

<% if (!preview){ %>
<%- partial('comments') %>
<% } %>
