<article itemscope itemprop="blogPost">
  <div>
    <% if (post.link || post.title){ %>
    <header>
      <%- partial('article-title') %>
    </header>
    <% } %>
    <div itemprop="articleBody">
      <% if (post.excerpt && preview){ %>
      <%- post.excerpt %>
      <% if (theme.excerpt_link){ %>
      <p>
        <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
      </p>
      <% } %>
      <% } else { %>
      <%- post.content %>
      <% } %>

    </div>

    <footer>
      <div class="row">
        <div class="col-xs-3">
          <% if (!preview){ %>
          <button type="button" class="btn btn-default">
            <a href="/" title="Home page">
              <i class="fa fa-chevron-left"></i> BACK
            </a>
          </button>
          <% } %>
        </div>
        <div class="col-xs-9 text-right">
          <%- partial('share-buttons') %>
        </div>
      </div>
    </footer>
  </div>
</article>

<% if (!preview){ %>
<%- partial('comments') %>
<% } %>
